@model PCStoreIdentity.ViewModels.CompatibleCPUMB

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Procesor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPU.Proizvoditel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPU.Proizvoditel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPU.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPU.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPU.Generation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPU.Generation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPU.Cores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPU.Cores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPU.Threads)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPU.Threads)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPU.Speed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPU.Speed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPU.Power)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPU.Power)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPU.DetailsUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPU.DetailsUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPU.SlikaUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPU.SlikaUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPU.Cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPU.Cena)
        </dd>
        <dt class="col-sm-2">
            Компатибилни матични плочи
        </dt>
        <dd class="col-sm-10">
            @foreach (var mb in Model.Ploci)
            {
                <a href="https://localhost:44384/MaticnaPlocas/Details/@mb.Id">@mb.Model</a><br/>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CPU.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
